body {
  --background-color: #e5e5e5;
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  &-title {
    color: var(--title-text-color);
  }
}

.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
}
