.page-header {
  border: 1px solid #ececec;
  border-left: none;
  border-right: none;
  border-top: none;

  &-container {
    display: flex;
    align-items: baseline;
  }
}

.header-nav {
  display: flex;
  align-items: baseline;
}

.header-list {
  display: flex;
  align-items: baseline;
}

.header-list-item {
  & + & {
    margin-left: 50px;
  }
}

.header-link.current::after {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  position: absolute;
  left: 0;
  bottom: 0;
}
