.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 581px;
  width: 528px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
.modal__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 20px;
}

.modal__close-icon {
  color: #000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 4px 3px 3px 3px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 50%;
  justify-content: center;
  text-align: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover svg {
    fill: var(--accent-color);
  }
}

.modal__close-btn:hover svg {
  fill: var(--accent-color);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px;
  color: var(--accent-color);
  font-size: 14px;
  outline: none;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:focus {
  border-color: var(--accent-color);
}

.check-text {
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-text::before {
  content: '';
  width: 15px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
  margin-right: 5px;
  background-image: url(../images/svg/icon-check.svg);
  background-position: center;
  background-size: 15px;
  background-repeat: no-repeat;
  align-items: center;
}

.modal-check:checked + .check-text::before {
  background-color: var(--accent-color);
  border: none;
}
.modal-policy {
  display: flex;
}
.input-wrap {
  position: relative;
}
.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 25px;
  border-radius: 4px;
  padding: 10px;
  padding-left: 42px;
  color: var(--accent-color);
  font-size: 14px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.modal__field {
  margin-bottom: 10px;
}

.modal-label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  display: block;
  margin-bottom: 4px;
  color: var(--primary-text-color);
}

.check-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.submit-btn {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  align-items: center;
  display: block;
  text-align: center;
  color: #ffffff;
  background-color: var(--accent-color);
  padding: 10px 56px;
  min-width: 200px;
  margin-top: 30px;
  margin-left: 124px;
  margin-right: 124px;
  justify-content: center;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    background-color: #ffffff;
  }
}
