.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 56px;
}
.portfolio__button {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  padding: 5px 22px;
  min-width: 73px;
  border: none;
  background-color: #f5f4fa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #ffffff;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.card:hover .modal-portfolio {
  opacity: 1;
}
.card:hover .modal-portfolio {
  transform: translateY(0%);
}

.modal-portfolio {
  display: block;
  position: absolute;
  top: 0;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  & p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #ffffff;
    transform: translateY(0%);
  }
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  &__item {
    width: 370px;
    margin: 15px;
    border-radius: 0px 0px 4px 4px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    }
    &:focus {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    }
  }
  &__subtitle {
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
  }
  &__text {
    font-size: 16px;
    line-height: 1.872;
    letter-spacing: 0.03em;
  }
}
