.team {
  background-color: var(--secondary-background-color);
  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }

  &-list {
    display: flex;

    &__item {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
    &__subtitle {
      color: var(--title-text-color);
      font-weight: 500;
      font-size: 16px;
      line-height: 1.19;
      letter-spacing: 0.03em;
      text-align: center;
      margin-bottom: 10px;
    }
    &__text {
      text-align: center;
    }
  }
  &__subtitle p {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.card {
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  &-content {
    padding: 30px 30px 16px 30px;
  }
  &--team {
    padding-bottom: 30px;
  }
}
.work-list .card-content {
  padding: 20px 24px;
}
